app = "colossaltv-backend"
primary_region = "ord"

[env]
  PORT = "3000"

[mounts]
  source = "vol_45lem1l325jg988r"   # matches the actual attached volume
  destination = "/data"

[[services]]
  internal_port = 3000
  protocol = "tcp"
  processes = ["app"]

  [services.concurrency]
    type = "connections"
    soft_limit = 20
    hard_limit = 25

  [[services.ports]]
    handlers = ["http"]
    port = 80

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
